[Unit]
Description=Run %p
Requires=docker.service redis.service
After=docker.service redis.service

[Service]
Restart=always
User=core
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/usr/bin/docker run -t --rm --env-file /home/core/faye.env \
  --name %p --link redis:redis -p 4242:4242 nickjj/%p
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target website.service
