[Unit]
Description=Run %p
Requires=docker.service website.service faye.service
After=docker.service website.service faye.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/usr/bin/docker run -t --rm --name %p \
  -p 80:80 -p 443:443 \
  --link website:website --link faye:faye \
  --link flower:flower \
  --volumes-from website \
  -v /etc/ssl/certs:/etc/ssl/certs \
  -v /etc/ssl/private:/etc/ssl/private %p
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
